header, main, footer {
    min-width: 855px;
    overflow: auto;
}

header h1 {
    float: left;
    width: 570px;
    font-size: 45px;
}

header nav {
    float: right;
    width: 285px;
}

body {
    background: #f9e933;
}

div.img {
    float: right;
    width: 285px;
}

img {
    width: 100%;
}

.lorem {
    float: left;
    width: 570px;
}

header {
    background: white;
    padding-bottom: 20px;
}

main {
    background: white;
    padding-bottom: 10px;
}

footer {
    padding-top: 20px;
}

header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}

div.contact {
    float: left;
    width: 570px;
}

div.sitemap {
    float: right;
    width: 285px;
}

h1, h2, h3, h4 {
    font-family: "Ubuntu", sans-serif;
}

main h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

main h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

.tabs a span.active {
    background: #eee;
}